nav {
    width: 100%; /* Asegura que ocupe todo el ancho */
    background-color: #1a8e50;
    color: white;
    padding: 10px;
}
html, body {
    height: 100%; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    width: 100%; /* Asegura que el cuerpo ocupe todo el ancho de la ventana */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Ajusta para evitar conflictos */
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px; /* Se aumenta para mayor flexibilidad */
    text-align: center;
}

h2 {
    color: #333333;
    margin-bottom: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

error {
    color: red;
    margin-bottom: 15px;
}

.card {
    margin: 0.5em;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card .btn {
    font-weight: bold;
}

main {
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

footer {
    width: 100%; /* Asegura que ocupe todo el ancho */
    background-color: #1a8e50;
    color: white;
    text-align: center;
    padding: 10px 0;
}